/* Reset CSS */
* {
        padding: 0;
        margin: 0;
        border: none;
        box-sizing: border-box;
}

html {
        scroll-behavior: smooth;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 100%;
}

/* Common */
.text-white {
        color: white !important;
}

.text-center {
        text-align: center !important;
}

.row {
        margin-left: -8px;
        margin-right: -8px;
}

.row::after {
        content: "";
        display: block;
        clear: both;
}

.col {
        float: left;
        padding-left: 8px;
        padding-right: 8px;
}

.col-third {
        width: calc(100% / 3);
}

.col-half {
        width: calc(100% / 2);
}

.col-full {
        width: 100%;
}

.mt-8 {
        margin-top: 8px !important;
}

.mt-16 {
        margin-top: 16px !important;
}

.mt-32 {
        margin-top: 32px;
}
/* Main */
#main {
        --header-height: 46.5px;
}

/* Header */
#header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        font-size: 1rem;
        height: var(--header-height);
        background-color: rgb(0, 0, 0);
        z-index: 10;
}

#nav,
.subnav {
        list-style: none;
}

#nav {
        display: inline-block;
}

#nav li {
        display: inline-block;
}

#nav > li > a {
        color: white;
        text-transform: uppercase;
}

#nav li a {
        text-decoration: none;
        line-height: var(--header-height);
        padding: 0 24px;
        display: inline-block;
}

#nav > li:hover > a,
#nav .subnav li:hover {
        color: #000;
        background-color: #ccc;
}

#nav .subnav {
        display: none;
        min-width: 160px;
        position: absolute;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li {
        display: block;
}

#nav .subnav a {
        padding: 0 12px;
        display: block;
        color: black;
        line-height: 38px;
}

#nav li:hover .subnav {
        display: block;
}

#nav .nav-arrow-down {
        font-size: 0.9rem;
}

#header .mobile-menu-btn {
        display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
        float: right;
        line-height: var(--header-height);
        padding: 0 23px;
        cursor: pointer;
}

#header .search-btn:hover {
        background-color: #f44336;
}

#header .mobile-menu-btn:hover {
        background-color: #ccc;
}

#header .menu-icon,
#header .search-icon {
        color: white;
        font-weight: 900;
        font-size: 0.8rem;
}

#header .mobile-menu-btn:hover .menu-icon {
        color: #000;
}

/* Slider */
#slider {
        position: relative;
        margin-top: var(--header-height);
        padding-top: 50%;
        background: url("/assets/img/slider/chicago.jpg") top center / cover
                no-repeat;
}

#slider .text-content {
        position: absolute;
        bottom: 48px;
        width: 100%;
        text-align: center;
        color: #fff;
}

#slider .text-heading {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 25px;
}

#slider .text-description {
        font-weight: 900;
        font-size: 15px;
}

/* Content */
#content {
}

#content .content-section {
        height: auto;
        width: 800px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 64px 0 112px;
        padding-left: 16px;
        padding-right: 16px;
}

#content .section-heading {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 4px;
}

#content .section-heading,
#content .section-sub-heading {
        text-align: center;
}

#content .section-sub-heading {
        font-size: 1rem;
        margin-top: 25px;
        margin-bottom: 25px;
        font-style: italic;
        opacity: 0.7;
}

#content .about-text {
        font-size: 1rem;
        text-align: justify;
        line-height: 1.6;
}

/* About */
#content .member-list {
        margin-top: 32px;
}

#content .member-list .member-name {
        font-size: 1rem;
}

#content .member-list .member-img {
        margin-top: 15px;
        width: 60%;
        border-radius: 4px;
}

/* Tour */
#tour {
        background-color: #000;
}

#tour .ticket-list {
        background-color: #fff;
        margin-top: 40px;
        list-style: none;
}

.ticket-list li {
        color: #757575;
        font-size: 1rem;
        padding: 10px 16px;
        border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
        background-color: #f44336;
        color: #fff;
        padding: 3px 4px;
        margin-left: 16px;
}

.ticket-list .quantity {
        float: right;
        width: 24px;
        height: 24px;
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 24px;
        margin-top: -3px;
}

.place-list {
        margin-top: 16px;
}

.place-img {
        width: 100%;
        display: block;
}

.place-img:hover {
        opacity: 0.6;
}

.place-body {
        background-color: #fff;
        padding: 16px;
        font-size: 1rem;
}

.place-heading {
        font-size: 1rem;
        font-weight: bold;
}

.place-time {
        opacity: 0.6;
        margin-top: 15px;
}

.place-description {
        margin-top: 15px;
        line-height: 1.4;
}

.place-buy-btn {
        margin-top: 15px;
        display: inline-block;
        padding: 10px 12px;
        background-color: #000;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
}

.place-buy-btn:hover {
        background-color: #ccc;
        color: #000;
}

/* Contact */
.contact-content {
        margin-top: 48px;
}

.contact-info {
        font-size: 1.2rem;
        line-height: 1.6;
}

.contact-info i[class*="ti-"] {
        display: inline-block;
        width: 30px;
}

.contact-form {
        font-size: 1rem;
}

.contact-form .form-control {
        padding: 12px;
        border: 1px solid #ccc;
        width: 100%;
}

.contact-form .form-submit-btn {
        background-color: #000;
        color: #fff;
        padding: 12px 18px;
        float: right;
        cursor: pointer;
}

.contact-form .form-submit-btn:hover {
        background-color: #ccc;
        color: #000;
}

.map-section img {
        width: 100%;
}

/* Footer */
#footer {
        padding: 64px 16px;
        color: rgba(0, 0, 0, 0.6);
}

#footer a {
        color: rgba(0, 0, 0, 0.6);
}

#footer .socials-list {
        font-size: 24px;
}

#footer .socials-list a {
        text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover {
        color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
        margin-top: 15px;
}
/* Modal */
.modal {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        inset: 0 0;
        background: rgba(0, 0, 0, 0.4);
}

.modal-container {
        background-color: #fff;
        width: 900px;
        max-width: calc(100% - 32px);
        min-height: 200px;
        position: relative;
        animation: modalFadeIn ease 0.5s;
}

.modal-header {
        background-color: #009688;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: #fff;
}

.modal-heading-icon {
        margin-right: 16px;
}

.modal-close {
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        padding: 12px;
        cursor: pointer;
        opacity: 0.9;
}

.modal-close:hover {
        opacity: 1;
        background-color: #ccc;
        color: #000;
}

.modal-body {
        padding: 16px;
}

.modal-label {
        display: block;
        font-size: 1rem;
        margin-bottom: 12px;
}

.modal-input {
        border: 1px solid #ccc;
        width: 100%;
        font-size: 1rem;
        padding: 10px 0;
        margin-bottom: 24px;
}

#buy-tickets {
        background-color: #009688;
        color: white;
        width: 100%;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 17px 0;
        cursor: pointer;
}

#buy-tickets:hover {
        opacity: 0.9;
}

.modal-footer {
        padding: 16px;
        text-align: right;
}

.modal-footer a {
        color: rgb(33, 150, 243);
}

.modal.open {
        display: flex;
}

@keyframes modalFadeIn {
        from {
                opacity: 0;
                transform: translateY(-140px);
        }
        to {
                opacity: 1;
                transform: translateY(0px);
        }
}
